/* Reset default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set a dark-grey background */
body {
    background-color: #222;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.header h1 {
    margin: 0;
}

/* Login form styles */
.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 8px;
    margin-right: 10px;
}

.login-form button {
    padding: 8px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #45a049;
}

/* Style the main content area */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 10px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

/* Customize links */
a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Menu(?) buttons */
.link-button {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #45a049;
}

/* Student register form */
.student-form {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .student-form h2 {
    margin-bottom: 10px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    margin-right: 10px;
  }
  
  .student-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .student-form input,
  .student-form select {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .student-form button {
    padding: 8px 20px;
    background-color: #007bff;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .student-form button:hover {
    background-color: #45a049;
  }